<!-- templates/base.html.twig -->

<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Productos{% endblock %}</title>
        {% block stylesheets %}
                    <link rel="stylesheet" href="{{ asset('css/bootstrap.min.css') }}">

        {% endblock %}
    </head>
    <body>
        {{include("header.html")}}

        {% block body %}

        <form method="get" class='d-flex align-items-end mb-4 mt-4 justify-content-around' action={{path('productos')}}>
          
        <div class="form-group mr-2">
            <label for="quantity" class="mr-2">Cantidad:</label>
            <input  type="number" id="quantity" max="30" name="quantity" value={{ "quantity" }} class="form-control">
        </div>

        <div class="form-group mr-2">
            <label for="min_price" class="mr-2">Precio mínimo:</label>
            <input type="number" id="min_price" name="min_price" value={{ "minPrice" }} class="form-control">
        </div>

        <div class="form-group mr-2">
            <label for="max_price" class="mr-2">Precio máximo:</label>
            <input type="number" id="max_price" name="max_price" value={{ "maxPrice" }} class="form-control">
        </div>

        <div class="form-group mr-2">
            <label for="taxes" class="mr-2">Impuestos:</label>
            <input type="number" id="taxes" name="taxes" value={{ "taxes" }} class="form-control">
        </div>
        <div class="form-group mr-2">
                <button type="submit" class="btn btn-primary">Filtrar</button>

        </div>

        </form>
        <section class="d-flex align-items-start flex-wrap justify-content-center gap-4">
        {% block section %}
        {%for producto in products.data %}
        <div class=" d-flex flex-column  justify-content-between gap-2 card" style="width: 18rem;height:530px; 
">
        <img style="width:100%" src={{producto.image}} alt={{producto.name }} />
            <div class="card-body d-flex flex-column  justify-content-between gap-2">
                <h5 class="card-title">        {{producto.name}}
</h5>
    <div>
                <p class="card-text overflow-auto" style="max-height:100px; height:min-content; 
">
                        {{producto.description}}
</p>
    </div>
        <div class="d-flex flex-column justify-content-end gap-2">
            <button href="#" class="btn btn-primary">Comprar</button>
            <ul class="border-top">
            <li><strong>${{producto.price}}</strong></li>
            <li>Impuestos: ${{producto.taxes}}</li>
            </ul>
                </div>
        </div>
</div>

        </div>

       {%endfor%}
       </section
        {% endblock %}
        {% endblock %}


        {% block javascripts %}
        <script
        src="{{ asset('js/bootstrap.min.js') }}"
        >
    </script>
        {% endblock %}
    </body>
    
</html>
